@model IEnumerable<Meme>

@{ ViewBag.Title = "Admin Page";
}
<div class="bg-info p-2 row">    
    <div class="col">     
        <h4>@ViewBag.Title</h4>    
    </div>  
    <div class="col-2">    
        <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">Log Out</a>     
    </div>   
</div>
<table class="table table-striped table-bordered table-sm" style="width:100%">
    <tr>
        <th class="text-right">ID</th>
        <th>Img</th>
        <th class="text-right">Coords</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.MemeId</td>
            <td>
                <img class="img-fluid rounded" style="max-width:200px; width:100%" src="https://litmemes.blob.core.windows.net/images/@item.ImgUrl" />
            </td>
            <td class="text-right">@item.Latitude & @item.Longitude</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="memeUrl" value="@item.ImgUrl" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>